<template>
    <div class="example">
        Users
        <ul class="list-group">
          <li class="list-group-item" v-for="user in usersList">
              {{user.first_name}} - {{user.email}}
          </li>
        </ul>
        <button class="btn btn-primary btn-lg" @click="getUsers">Fetch users</button>
        <button class="btn btn-danger btn-sm" @click="stopRealtime" :disabled="!getRealtimeStatus">Stop realtime</button>
        <button class="btn btn-danger btn-sm" @click="runRealtime" :disabled="getRealtimeStatus">Run realtime</button>

    </div>
</template>

<script>
   // import  UserService  from '../Services/UserService';

    export default {
        data(){
            return {
                users : [],
            }
        },
        mounted() {
            // let User = new UserService();
            // console.log('Component mounted.', User.get)
            // User.get().then(users =>{
            //     console.log(users)
            // });

        },
        methods : {
            getUsers(){
                this.$store.dispatch('users/fetchUsers', null,{root:true})
            },
            stopRealtime(){
                this.$store.dispatch('users/setRealtime', false,{root : true});
            },
            runRealtime(){
                this.$store.dispatch('users/setRealtime', true,{root : true});
            }
        },
        computed : {
            usersList(){
                return this.$store.state.users.users
            },
            getRealtimeStatus(){
                return this.$store.state.users.realtime
            }
        }
    }
</script>
<style lang="scss">
    .example{

    }
</style>